# -*- coding: utf-8 -*-
# vim: ft=yaml
---
diaspora:
  repository: https://github.com/diaspora/diaspora.git

  # version can be a branch or a tag
  version: develop

  install_path: /srv/diaspora

  ruby_version: 2.6.6

  install_redis: false

  user:
    username: diaspora
    shell: /bin/zsh

  database:
    # type needs to be 'postgresql' or 'mysql'
    type: postgresql
    host: localhost
    username: diaspora
    password: secret
    database: diaspora

  # see https://github.com/diaspora/diaspora/blob/develop/config/diaspora.toml.example
  configuration:
    environment:
      url: "https://example.org/"
    settings:
      pod_name: "example diaspora* pod"
