[Unit]
Description=A privacy aware distributed social network
{%- if diaspora.install_redis %}
Wants={{ diaspora.redis_service }}.service
{%- endif %}

[Service]
User={{ diaspora.user.username }}
Environment=RAILS_ENV={{ diaspora.configuration.server.rails_environment }}
WorkingDirectory={{ diaspora.install_path }}
ExecStart=/bin/bash -lc "script/server"
Restart=on-failure

[Install]
WantedBy=multi-user.target
