[Unit]
Description=Diaspora social network (sidekiq)
PartOf=diaspora.target
StopWhenUnneeded=true

[Service]
User={{ diaspora.user.username }}
Environment=RAILS_ENV={{ diaspora.configuration.server.rails_environment }}
Environment=LD_PRELOAD={{ diaspora.libjemalloc }}
WorkingDirectory={{ diaspora.install_path }}
ExecStart=/bin/bash -lc "bin/bundle exec sidekiq"
Restart=always

[Install]
WantedBy=diaspora.target
